{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "editorconfig": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "arrowParens": "avoid"
}
