name = "mock-service"
compatibility_date = "2024-09-12"
compatibility_flags = ["nodejs_compat_v2"]


# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = ""
# database_id = ""


# [ai]
# binding = "AI"

[observability]
enabled = true
head_sampling_rate = 1
